@import './variables.scss';

.sort_container {
    width: 100%;
    padding: 0.2rem 0.5rem;
    margin-right: 1rem;
    display: flex;
    justify-content: space-around;
    color: $card_font;
    font-weight: bold;
    font-size: 1.2rem;
    .order_label{
        width: 25%;
        margin-right: 1rem;
        text-align: right;
    }
    .ordenado{
        width: 25%;
        border: 2px solid $bg_home;
        border-radius: 5px;
        color: $bg_home;
    }
    .filter_label{
        width: 25%;
        margin-right: 1rem;
        text-align: right;
    }
    .filtrado{
        width: 25%;
        border: 2px solid $bg_home;
        border-radius: 5px;
        color: $bg_home;
    }
}